/* All */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#bodycontent {
  display: flex;
  flex-direction: row;
  padding: 100px;
}

#cartmenu {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  background-color: rgb(240,240,240);
  margin: 4px;
}

.image {
  padding: 4px;
}

.productimg {
  vertical-align: middle;
}

.proddetails {
  display: flex;
  width: 100%;
  padding: 4px;
}

.leftside {
  width: 80%;
  padding: 5px;
}

.rightside {
  width: 20%;
  padding: 5px;
}

#emptycart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#emptycarttext {
  font-size: 48px;
}

#emptycartform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#productsbutton {
  height: 100%;
  width: 25%;
  outline: none;
  background-color: darkgrey;
  border: 2px solid black;
  border-radius: 8px;
}

#productsbutton:hover {
  background-color: grey;
}

#buymenu {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5px;
  align-items: center;
  height: 50%;
}

.buybutton {
  width: 80%;
  height: 100%;
  align-self: center;
}