/* Header */
#header {
  position: absolute;
}

#header img {
  vertical-align: middle;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

/* Footer */
#footer {
  position: absolute;
}


/* Navigation Bar*/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.25s;
}

.nav-link:hover {
  font-size: 24px;
}

#searchform {
  display: flex;
}

#searchbar {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  font-size: 20px;
  outline: none;
  border-width: 1px;
  box-sizing: border-box;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

#selectbar {
  width: 100px;
  height: 40px;
  font-size: 20px;
  outline: none;
  border-width: 1px;
}

#searchbutton {
  width: 80px;
  height: 40px;
  font-size: 20px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: lime;
}

#searchbutton:active {
  border-width: 2px;
  border-color: black;
}

#searchbutton:hover {
  background-color: lawngreen;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}